<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Node</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Add Data to the blockchain</h1>
        <form action="/addBlock" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="text">Text:</label>
                <input type="text" class="form-control" id="text" name="text" required>
            </div>
            <div class="form-group">
                <label for="document">Document:</label>
                <input type="file" class="form-control-file" id="document" name="document" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container my-4">
        <h2>Blockchain Data</h2>
        <pre><%= JSON.stringify(blockchain, null, 2) %></pre>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
